#page-title{
    background-color: skyblue;
    padding: 1em;
    margin: 0px;
}
#title{
    text-align: center;
}
#search{
    margin-top: 2px;
    margin-left: 0rem;
    background-color: darkcyan;
}
.days{
    background-color: cadetblue;
}
#citylist{
    margin-left: -10px;
}